@import "bootstrap/scss/functions";
@import "./variables";
@import "bootstrap/scss/bootstrap";

body {
    user-select: none;
}

.noScrollbar {
    /* IE and Edge */
    -ms-overflow-style: none !important;
    /* Firefox */
    scrollbar-width: none !important;

    /* Chrome */
    &::-webkit-scrollbar {
        display: none !important;
    }
}

.selectThinScrollbar {
    scrollbar-color: rgb(223, 223, 223) rgb(255, 255, 255);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(223, 223, 223);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }
}